src/UnityCodeCraft/Assets/3rdParty/** filter=lfs diff=lfs merge=lfs -text
src/UnityCodeCraft/Packages/com.shadercrew.the-toon-shader.core/Scripts/Resources/*.png filter=lfs diff=lfs merge=lfs -text
src/UnityCodeCraft/Packages/com.rukhanka.animation/*.fbx filter=lfs diff=lfs merge=lfs -text
